html, body {
	height: 100%;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}

#containter {
	min-height: 100%;
	position: relative;
}

.main_content {
	text-align: center;
	width: 600px;
	margin: 0px auto;
	clear: both;
}

.top_menu {
	float: right;
	padding: 10px 0 150px 0;
	font-size: 0.75em;
	font-weight: bold;
	margin-right: 15px;
}

.top_menu:ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.top_menu a {
	text-decoration: none;
	color: #111;
}

.top_menu a:hover {
	text-decoration: underline;
}

.top_menu li {
	float: left;
	display: inline;
	margin-left: 15px;
}

.bottom_menu {
	padding: 20px 0 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	font-size: 0.75em;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

ul.left {
	float: left;
	padding-left: 15px;
}

ul.right {
	float: right;
	position: relative;
}

ul.bottom {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.bottom li {
	float: left;
	display: inline;
	margin-left: 15px;
}

ul.bottom li:last-child {
	margin-right: 15px;
}

ul.bottom a {
	text-decoration: none;
	color: #111;
}

ul.bottom a:hover {
	text-decoration: underline;
}

form input[type=text] {
	height: 20px;
	width: 550px;
	margin: 0 0 25px 0;
}

form input[type=submit] {
	padding: 7px 12px;
	background-color: #eee;
	border: 1px solid #ddd;
	margin: 0 10px;
	font-weight: bold;
	border-radius: 3px;
}

form input[type=submit]:hover {
	background-color: #ddd;
	border: 1px solid #ccc;
}